# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
ProjectOfficeBreakout/.vs/ProjectOfficeBreakout/v14/.suo
ProjectOfficeBreakout/.vs/ProjectOfficeBreakout/v14/.suo
ProjectOfficeBreakout/Assembly-CSharp.csproj
ProjectOfficeBreakout/Assets/RyanFolder/Scenes/RyanDemoScene.unity
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/ArtificialIntelligence/State.cs.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/ArtificialIntelligence/StateMachine.cs.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/SoundBehavior.cs.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scenes/RyanDemoScene.unity
ProjectOfficeBreakout/Assets/Animations/Motion/Walk_Jump_Walk.fbx.meta
ProjectOfficeBreakout/ProjectOfficeBreakout.sln
ProjectOfficeBreakout/ProjectOfficeBreakout-csharp.sln
ProjectOfficeBreakout/Assets/RyanFolder/Scenes/RyanDemoScene.unity
ProjectOfficeBreakout/Assets/Animations/Motion/Walk_Jump_Walk.fbx.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/SoundBehavior.cs.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/SoundBehavior.cs.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/ArtificialIntelligence/StateMachine.cs.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/ArtificialIntelligence/State.cs.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/ArtificialIntelligence.meta~Sid Project
*.meta~HEAD
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/ArtificialIntelligence/State.cs.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/SoundBehavior.cs.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/SoundBehavior.cs.meta
ProjectOfficeBreakout/Assets/RyanFolder/Scripts/ArtificialIntelligence/State.cs.meta
